*.DS_Store

# Packages
.aws-sam
.nyc_output
node_modules
samconfig.toml
yarn.lock

# Unit test / coverage reports
coverage

# Customized files we don't want in the repo
#events/event.json
#config.json
#template.yaml

# IDEA IDE
.idea*
src/
